.right-container {
  display: flex; /* Use flexbox to align children horizontally */
  justify-content: space-between; /* Space out the items evenly */
  align-items: center; /* Vertically center items if they have different heights */
  height: 88%; 
  border-radius: 20px;
  padding: 10px; /* Optional: add some padding for aesthetics */
  background-color: #ADB5BD; /* Ensure the background color is applied */
}


/* Media Queries for Tablet Responsiveness */
@media (max-width: 744px) 
{
  .nav-icon,
  .nav-up {
    width: 6%; /* Decrease icon size for better fit */
  }
  .bottom-container{
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center;    /* Aligns children horizontally (optional) */
    justify-content: center; /* Centers children vertically (optional) */
    height: 100%;
    padding: 0%;
  }

  .left{
    margin: 5%;
    width: 100%;
  }

  .right{
    width: 100%;
  }

  .ligtas,
  .offense,
  .rent {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Align items in a row */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    margin: 10px 0; /* Add some margin for spacing */
  }
}
