.right-container {
  display: flex; /* Use flexbox to align children horizontally */
  justify-content: space-between; /* Space out the items evenly */
  align-items: center; /* Vertically center items if they have different heights */
  height: 88%; 
  border-radius: 20px;
  padding: 10px; /* Optional: add some padding for aesthetics */
  background-color: #ADB5BD; /* Ensure the background color is applied */
}


/* Default - links are displayed with text */
.right-nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* Mobile screen - when width is 768px or below */
@media (max-width: 768px) {
  .right-nav a {
    display: inline-block;
    width: 40px;  /* Adjust size of image */
    height: 40px; /* Adjust size of image */
    text-indent: -9999px; /* Hide text */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .right-nav a:nth-child(1) {
    background-image: url('https://w7.pngwing.com/pngs/848/336/png-transparent-circle-area-point-angle-white-gray-circle-angle-other-white-thumbnail.png');
  }

  .right-nav a:nth-child(2) {
    background-image: url('https://w7.pngwing.com/pngs/848/336/png-transparent-circle-area-point-angle-white-gray-circle-angle-other-white-thumbnail.png');
  }

  .right-nav a:nth-child(3) {
    background-image: url('https://w7.pngwing.com/pngs/848/336/png-transparent-circle-area-point-angle-white-gray-circle-angle-other-white-thumbnail.png');
  }

  .right-nav a:nth-child(4) {
    background-image: url('https://w7.pngwing.com/pngs/848/336/png-transparent-circle-area-point-angle-white-gray-circle-angle-other-white-thumbnail.png');
  }
}
