body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  padding-bottom: 40px;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-image: url("/images/ebl/banner.png");

  background-size: cover;
  background-position: center;
  color: var(--whiteText);
  margin-bottom: 50px;

  aspect-ratio: 4/1;
  min-height: 350px;
  max-height: 400px;
}

.greetings {
  padding: 4%;
}

.bottom-container {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 100%;
  max-width: 1200px;
}

#log-in-dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;

  justify-content: center;
  align-items: center;

  padding: 30px 50px;

  max-width: 500px;

  height: 100%;
  background-color: var(--red1);
  border-radius: 24px;
  color: white;
}

.left h1 {
  width: 100%;
  font-size: 32px;
  font-weight: var(--Bold);
}

.left p {
  text-align: justify;
}

.log-in {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.log-in p {
  font-size: 24px;
  font-weight: var(--Bold);
  margin-bottom: 8px;
}

.log-in div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
}

.input-field {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 8px 0px;
  font-size: 16px;
  font-weight: var(--SemiBold);
}

#right {
  margin-left: -24px;

  width: 100%;
  background-color: var(--grey1);
  border-radius: 0px 24px 24px 0px;

  overflow: hidden;

  z-index: -1;
  background-color: red;
}

.img-login {
  display: flex;
  height: 100%;
  max-width: 100%;
  min-width: 100%;

  background-color: rebeccapurple;
}

.img-login img {
  width: 100%;
  object-fit: cover;
}

.prelogin-announcements {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
  width: fit-content;
  max-width: 100%;

  border-radius: 24px;

  color: var(--black1);
  background-color: var(--grey1);
}

.prelogin-announcements h1 {
  padding: 32px;
  font-size: 48px;
  font-weight: var(--Bold);
}

.announcements {
  display: flex;
  flex-direction: row;
  gap: 32px;

  height: 100%;
  border-radius: 16px;
  background-color: var(--grey3);
  padding: 32px;
}

.post-img {
  width: 400px;
  height: 100%;
  aspect-ratio: 1/1;

  border-radius: 12px;

  background-color: var(--grey2);
}

.a-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.a-right h1 {
  padding: 0px;
  margin-bottom: 8px;

  width: 100%;

  color: var(--black1);
  font-size: 24px;
  font-weight: var(--Medium);
}

.a-right p {
  margin-bottom: 24px;

  width: 100%;

  text-align: left;
  font-size: 16px;
  color: var(--black2);
}

.view-post-btn {
  padding: 16px 32px;
  border-radius: 8px;

  border: none;
  background-color: var(--red1);
  color: var(--whiteText);

  font-size: 16px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.view-post-btn:hover {
  transform: scale(1.1);
}

#dashboard {
  display: flex;
  flex-direction: row;
  gap: 24px;

  padding: 24px;

  width: 100%;
  height: auto;

  border-radius: 24px;
  background-color: var(--grey1);
}

#dashboard .left {
  text-align: left;
  width: 300px;
  padding: 50px 24px;
}

#dashboard h1 {
  margin-bottom: 30px;

  width: 100%;

  font-size: 24px;
}

#dashboard h2 {
  margin-bottom: 8px;

  width: 100%;

  font-size: 16px;
  font-weight: var(--SemiBold);
}

#dashboard p {
  width: 100%;

  font-size: 16px;
  font-weight: var(--Light);
}

#dashboard div {
  min-width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

#right-header .desktop-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow-anchor: none;

  gap: 50px;

  width: 100%;
  padding: 8px 0px;
  border-radius: 12px;
  background-color: var(--grey3);
  color: var(--black1);
  font-size: 20px;
  font-weight: var(--Medium);
}

#right-header a {
  color: var(--black1);
}

#right-header .mobile-links {
  display: none;
}

#swap-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;

  padding: 32px 16px;

  width: 100%;
  height: fit-content;

  border-radius: 12px;
  background-color: var(--grey3);
}

#swap-content h1 {
  text-align: center;
  width: 100%;

  font-size: 32px;
  margin: 0;
}

#swap-content div {
  width: 100%;
  height: 100%;
}

.notification-panel {
  width: 100%;
  border-collapse: collapse;
  font-size: 24px;
  font-weight: var(--Medium);
}

.notification-panel th,
.notification-panel td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--black1);
}

.notification-panel th {
  font-weight: bold;
}

.notification-panel .icon {
  width: 40px;
  height: 40px;
  vertical-align: middle; /* Vertically align icon in cell */
}

.notification-panel .date {
  text-align: right;
  color: var(--black2);
  white-space: nowrap;
}
.notification-panel tr:last-child td {
  border-bottom: none;
}

#lobby {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#lobby .left-slip,
.right-slip {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
}

.left-slip {
  justify-content: center;

  text-align: center;
}

#lobby h1 {
  padding: 32px 0px;

  font-size: 32px;
  font-weight: var(--SemiBold);
}

.left-slip p {
  padding: 0px 16px;

  font-size: 20px;
}

.right-slip {
  background-color: #ced4da;

  height: 100%;
  border-radius: 12px;

  border: none;
  padding: 16px;
}

#username,
#room {
  width: 100%;
  height: 10%;

  padding: 16px 8px;

  border: none;
  border-radius: 6px;

  font-size: 16px;
  font-weight: var(--Medium);
  color: var(--black2);
}

.submit-button {
  background-color: var(--yellow1);
  color: var(--whiteText);

  align-self: center;

  border: none;
  border-radius: 16px;
  padding: 16px 40px;
  font-size: 24px;
  font-weight: var(--Medium);

  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-button:hover {
  transform: scale(1.1);
}

#rules {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  text-align: center;

  width: 100%;
}

#rules p {
  font-size: 16px;
  font-weight: var(--Medium);
  color: var(--black2);

  padding: 40px 64px;
}

.download-button {
  background-color: var(--red1);
  color: var(--whiteText);
  padding: 24px 64px;

  border: none;

  text-align: center; /* Center the text */
  border-radius: 24px; /* Rounded corners */
  font-size: 16px; /* Font size */

  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.download-button a {
  color: var(--whiteText);
}

/* Media Query for Laptops */
@media (max-width: 1399px) {
  .left {
    max-width: 400px;
  }

  .bottom-container {
    padding: 32px;
  }
}

/* Media Query for Tablets */
@media (max-width: 979px) {
  .left {
    max-width: 300px;
  }

  .prelogin-announcements {
    width: 100%;
    padding: 16px 32px;
  }

  .announcements {
    width: 100%;
  }

  #dashboard {
    flex-direction: column;
    width: 100%;
  }

  #dashboard .left {
    justify-content: start;
    align-items: center;
    gap: 16px;

    text-align: center;

    width: 100%;
    max-width: none;
  }

  #dashboard div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    width: 400px;
  }

  #dashboard .left div {
    gap: 0px;
  }

  #dashboard .left h2 {
    text-align: center;
  }

  #dashboard h2 {
    text-align: left;
  }

  #dashboard p {
    text-align: center;
  }

  #right-header {
    padding: 8px 40px;
  }

  #lobby h1 {
    padding: 16px 0px;
  }

  #rules {
    flex-direction: row;
  }
}
/* Media Query for Mobile */

@media (max-width: 743px) {
  .top-container {
    padding: 32px 0px;

    margin-top: 50px;
  }

  .bottom-container {
    padding: 32px 16px;
  }

  .left {
    text-align: center;
    padding: 24px 16px;
  }

  .log-in p {
    text-align: center;
  }

  #right {
    display: none;
  }

  .prelogin-announcements h1 {
    font-size: 24px;
  }

  .announcements {
    padding: 16px;
    flex-direction: column;
  }

  .post-img {
    width: 100%;
  }

  .a-right h1 {
    font-size: 16px;
  }
  .a-right p {
    font-size: 12px;
  }

  #dashboard div {
    flex-direction: column;
    gap: 16px;

    width: 100%;
  }

  #dashboard h2,
  #dashboard p {
    text-align: center;
  }

  #right-header .desktop-links {
    display: none;
  }

  #right-header .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
  }

  .mobile-icon {
    width: 30px;
    height: auto;
  }

  .mobile-icon.active {
    content: url("images/tour/subsection-dark.svg");
  }

  #notification h1 {
    font-size: 24px;
  }

  .notification-panel {
    font-size: 14px;
  }

  .notification-panel .icon {
    width: 24px;
    height: 24px;
  }

  #rules p {
    padding: 8px 0px;

    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
  }
}
