.hello-user {
  text-align: center;
  background-color: #d4d9c9;
  padding: 20px;
  color: black;
  word-spacing: 5px;
  margin: 0 0 3% 0;
}

.greetings {
  padding: 4%;
}

.container {
  display: flex;
  margin: auto;
  width: 95%; /* Set this to 90% */
  max-width: 1200px; /* Optional: Set a max width for larger screens */
  border-radius: 20px;
  height: 60%;
  background-color: #dee2e6;
  margin-bottom: 5%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  text-align: center;
  padding: 5%;
  flex: 0 0 calc(25% - 2%);
  background-color: var(--red1);
  border-radius: 20px;
  color: white;
  margin: 2% 0% 2% 2%;
}

.right {
  background-color: #dee2e6;
  text-align: center;
  padding: 10px;
  flex: 0 0 calc(75% - 2%);
  border-radius: 20px;
  margin: 1.25% 2% 2% 0;
}

.right-header {
  background-color: #adb5bd;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  align-content: center;
}

.right-container {
  background-color: #adb5bd;
  align-content: center;
  height: 88%;
  border-radius: 20px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5%;
}
