.hello-user {
  text-align: center;
  background-color: #d4d9c9;
  padding: 20px;
  color: black;
  word-spacing: 5px;
  margin-bottom: 3%;
}

.greetings {
  padding: 4%;
}

.container {
  display: flex;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 20px;
  background-color: #adb5bd;
  flex-direction: column;
  overflow: hidden;
}

.container-header {
  background-color: #6e1423;
  color: white;
  width: 96%;
  margin: 2% auto;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
}

.container-nav {
  display: flex;
}

.container-nav a {
  text-decoration: none;
  color: white;
  margin-right: 10%;
}

.information {
  display: flex;
  background-color: #dee2e6;
  border-radius: 20px;
  margin: 2%;
  flex: 1;
  padding-bottom: 5%;
}

.left,
.right {
  flex: 1;
  padding: 10px;
  margin: 4% 2%;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
}

.price {
  font-size: 1.6rem;
  font-weight: bold;
}

hr {
  border: none;
  height: 5px;
  background-color: black;
}

.price-chart {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price-chart span {
  margin-right: 10px;
}

.price-chart span:last-child {
  margin-right: 0;
}

.map {
  font-size: 1.8rem;
  font-weight: bold;
}

.map-pic {
  width: 50%;
  height: auto;
  object-fit: cover;
}


@media (max-width: 320px) {
  .information {
    flex-direction: column; /* Stack left and right sections vertically */
  }

  .left,
  .right {
    margin: 2% 0; /* Adjust margin for spacing between the sections */
    padding: 5%; /* Optional: adjust padding for mobile */
  }

  .map-pic {
    width: 100%; /* Make the map image responsive */
  }
}