.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;
  background-image: url("/images/laundry/laundry.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 1;
}

.greetings {
  color: var(--whiteText);
  text-align: center;
  padding: 84px 32px;

  width: fit-content;

  z-index: 3;
}

.greetings h1 {
  padding: 32px 0px;

  font-size: 64px;
  font-weight: var(--Bold);
}

.greetings p {
  font-size: 16px;
  font-weight: var(--Medium);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 2;
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--black1);
  width: 100%;
  min-height: 80vh;

  text-align: center;
}

#content .wrapper {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 32px 32px;

  height: fit-content;
  max-width: 1200px;


  border-radius: 24px;
  background-color: var(--grey1);
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  
  width: 100%;

  border-radius: 12px;
  background-color: var(--grey2);
}

.container-nav a {
  text-decoration: none;
  color: var(--black1);
  margin-right: 10%;
}

.information {
  display: flex;
  background-color: var(--grey2);
  border-radius: 20px;

  width: 100%;
  flex-direction: row; /* Default to row for larger screens */
}

.left,
.right {
  flex: 1;
  padding: 10px;
  margin: 4% 2%;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
}

.price {
  font-size: 1.6rem;
  font-weight: bold;
}

hr {
  border: none;
  height: 5px;
  background-color: black;
}

.price-chart {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price-chart span {
  margin-right: 10px;
}

.price-chart span:last-child {
  margin-right: 0;
}

.map {
  font-size: 1.8rem;
  font-weight: bold;
}

.map-pic {
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  /* Adjust the max-width as needed */
  .information {
    flex-direction: column; /* Stack left and right sections vertically */
  }

  .left,
  .right {
    margin: 2% 0; /* Adjust margin for spacing between the sections */
    padding: 5%; /* Optional: adjust padding for mobile */
  }

  .map-pic {
    width: 100%; /* Make the map image responsive */
  }
}
