@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: Inter;
  background-color: var(--whiteBG);
}

:root {
  --darkbg: #282828;
  --whiteBG: #f8f9fa;
  --whiteText: #f8f9fa;
  --grey1: #dee2e6;
  --grey2: #ced4da;
  --grey3: #adb5bd;
  --grey4: #6c757d;
  --black1: #222222;
  --black2: #343a40;
  --red1: #6e1423;
  --yellow1: #ecb555;
  --green1: #00563f;

  --Thin: 100;
  --ExtraLight: 200;
  --Light: 300;
  --Regular: 400;
  --Medium: 500;
  --SemiBold: 600;
  --Bold: 700;
  --ExtraBold: 800;
  --Black: 900;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;

  word-wrap: break-word;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;

  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;

  background-color: none;

  width: 100%;
  z-index: 10;
}

#island {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  padding: 10px 0px;

  width: 672px;

  border-radius: 58px;

  background-color: var(--grey1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.nav_icon {
  width: 40px;
  height: 40px;
}

.nav_up {
  width: 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#nav-mobile {
  display: none;
}

#nav-sidebar {
  display: none;
}

li {
  list-style: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  gap: 16px;

  justify-content: center;
  align-content: center;

  width: 100%;
  height: 296px;
  background-color: var(--red1);
}

.footer_container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  justify-content: left;
  align-content: center;
  align-items: center;

  width: auto;
  height: 100%;
}

.footer_text_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-content: center;
}

/*UP LOGO  */
.footer_container img {
  width: 160px;
}

.footer_text_container p {
  width: 100%;

  color: var(--whiteText);
  text-align: left;
}

.footer_text_1 {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}

#footer_text_1_1 {
  font-weight: var(--Medium);
}

#footer_text_1_2 {
  font-size: 32px;
  font-weight: var(--SemiBold);
}

.footer_text_2 {
  display: flex;
  flex-direction: column;
  gap: 4px;

  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;

  font-size: 16px;
  font-weight: var(--Regular);
}

.footer_text_2 p:first-child {
  font-weight: var(--SemiBold);
}

/* Media Query for Mobile */
@media (max-width: 743px) {
  nav {
    display: none;
  }

  #nav-mobile {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;

    height: 48px;
    padding: 8px 16px;
    background-color: var(--whiteBG);

    font-size: 24px;
    font-weight: var(--Black);

    z-index: 10;
  }

  #nav-burger {
    cursor: pointer;
  }

  #nav-mobile div {
    display: flex;
  }

  .min,
  .is,
  .ko {
    font-weight: var(--Black);
  }

  /* Sidebar Styles */
  #nav-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    z-index: 12;

    background-color: var(--red1);

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  #nav-sidebar.active {
    transform: translateX(0);
  }

  #nav-up {
    width: 160px;
    padding: 16px 0px;
  }

  #mobile-options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding: 8px;
    gap: 16px;
  }

  .mobile-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    cursor: pointer;

    transition: background-color 0.2s ease;
  }

  .mobile-option h2 {
    width: 100%;

    text-align: left;

    font-size: 24px;
    font-weight: var(--SemiBold);
    color: var(--whiteText);
  }
  .mobile-option img {
    width: 100%;
  }

  .nav-icon {
    width: 75px;
    height: 75px;
  }

  footer {
    height: auto;
  }

  .footer_container {
    flex-direction: column;
    padding: 80px 16px;
  }

  .footer_text_container p {
    text-align: center;
  }

}
