.wrapper {
  display: flex;
  height: 3500px;
  background-color: aqua;
}

.sticky-sidebar {
  position: sticky;
  top: 20px; /* Starts sticking 20px from the top */
  width: 200px;
  background: #eee;
  padding: 10px;
  height: 300px; /* Adjust as needed */
}

section {
  flex: 1;
  padding: 20px;
}
