#banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#banner .container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  height: 30vh;
  min-height: 350px;
  max-height: 400px;

  z-index: 1;

  background-image: url("/images/commute/Commute-edited.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner .overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#banner h1 {
  color: var(--whiteText);
  font-size: 48px;
  font-weight: var(--SemiBold);
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
}

#content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  padding: 48px 160px;

  max-width: 1440px;
}

#content h2 {
  font-size: 48px;
}

#big-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;

  padding: 48px;

  width: fit-content;
  height: fit-content;

  border-radius: 24px;
  background-color: var(--grey1);

  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

#left-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;

  width: 100%;
  height: fit-content;

  border-radius: 12px;
}

#left-card h2 {
  text-align: left;
  width: 100%;
}

#tab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  padding: 8px 16px;
  border-radius: 12px;

  background-color: var(--grey2);

  text-align: center;
}

#tab a {
  color: var(--black1);
  font-size: 16px;
  font-weight: var(--SemiBold);
}

#matrix {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 8px;

  width: 600px;
  min-height: 300px;
  height: fit-content;

  border-radius: 12px;
  background-color: var(--grey2);
}

#matrix h3 {
  width: 100%;

  font-size: 32px;
  text-align: center;
}

#fare-header {
  display: flex;
  flex-direction: row;
}

#fare-header h4 {
  text-align: left;
  font-weight: var(--SemiBold);

  font-size: 24px;
}

.route {
  width: 100%;
  text-align: left;
}

.fare {
  padding: 0px;
  min-width: 75px;
  width: fit-content;
}

.fare-row {
  display: flex;
  flex-direction: row;
  padding: 12px 8px;

  cursor: pointer;
  transition: transform 0.1s;
}

.fare-row:hover {
  transform: scale(1.01);
}

#bar {
  width: 100%;
  background-color: var(--black1);
  height: 4px;
  border-radius: 4px;
}

#right-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  text-align: left;
  width: 100%;
  height: fit-content;
}

#right-card h2 {
  width: 100%;
}

#map {
  width: 500px;
  height: 500px;

  border-radius: 12px;
  background-color: var(--grey2);
  object-fit: contain;
}

#map img {
  transition: ease-in;
  width: 100%;
}

/* Media Query for Laptops */
@media (max-width: 1399px) {
  #banner h1 {
    font-size: 42px;
  }

  #big-card {
    flex-direction: column;
    width: 884px;
    max-width: 884px;
  }

  #left-card h2 {
    text-align: center;
  }

  #tab {
    gap: 48px;

    width: fit-content;
    padding: 8px 80px;
  }
  #right-card h2 {
    text-align: center;
  }

  #matrix {
    min-width: 720px;
  }
}

/* Media Query for Tablets */
@media (max-width: 979px) {
  #big-card {
    width: 680px;
  }

  #fare {
    min-width: 100px;
  }

  #matrix {
    min-width: 600px;
  }
}

/* Media Query for Mobile */

@media (max-width: 743px) {
  #content h2 {
    width: 320px;

    text-align: center;
    font-size: 24px;
  }

  #content .container {
    padding: 48px 16px;
  }

  #big-card {
    padding: 48px 8px;
    min-width: 288px;
    width: 100%;
    max-width: none;
  }

  #left-card {
    padding: 0px;
  }

  #tab {
    padding: 8px 16px;
  }

  #matrix {
    width: 100%;
    min-width: 272px;
  }

  #matrix h3 {
    font-size: 24px;
  }

  #fare-header h4 {
    font-size: 16px;
  }

  #fare {
    min-width: 75px;
  }

  #map {
    max-width: 272px;
    max-height: 300px;
  }
}
